<%- include('partials/_header') %>

<h1 class="text-center">DEFINICIÓN DE IDEAS DE NEGOCIO</h1>
<div class="mt-4" id="contenido">
	<div class="row">
		<div class="col-md-6">
			<img src="/images/fondo.png" alt="" class="rounded img-fluid">
		</div>
		<div class="col-md-6 text-start fs-4" id="texto">
			Una idea de negocio es ese servicio o producto, existente o creado, al que se le aporta una propuesta de valor (solución) para el mercado al que se enfoca y, en consecuencia, puede generar beneficios económicos para el impulsor y un beneficio real para el consumidor. Cuando se desarrolla en forma de modelo de negocio y se pone en práctica hace del creador un empresario.

			Es un concepto concebido por personas o equipos que puede monetizarse mediante la entrega de productos o servicios.
		</div>
	</div>
</div>

<%- include('partials/_footer'); %>