<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="images/sena.jpg">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="css/estilos.css">
	<title>CGTS - Emprendimiento</title>
	<style>
		#texto{
			text-align: justify !important;
		}		
	</style>
</head>
<body class="bg-body-secondary">
	<div class="container text-center">
        <div class='menu'>
            <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
			  <div class="container-fluid">
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			        <li class="nav-item">
			          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link active" href="/aprendices">Aprendices</a>
			        </li>			        
			        <li class="nav-item">
			          <a class="nav-link active" href="/empresa">Empresas</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link active" href="/ideas">Ideas</a>
			        </li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Consultas</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/consulta">Aprendices</a></li>
							<li><a class="dropdown-item" href="/conideas">Ideas de negocios</a></li>
						</ul>
					</li>
			      </ul>
			    </div>
			  </div>
			</nav>
        </div>
